<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @example_test.name %>
</p>

<%= link_to 'Edit', edit_example_test_path(@example_test) %> |
<%= link_to 'Back', example_tests_path %>
