<?xml version='1.0'?>
<Workbook xmlns='urn:schemas-microsoft-com:office:spreadsheet'
                          xmlns:o='urn:schemas-microsoft-com:office:office'
                          xmlns:x='urn:schemas-microsoft-com:office:excel'
                          xmlns:ss='urn:schemas-microsoft-com:office:spreadsheet'
                          xmlns:html='http://www.w3.org/TR/REC-html40'>
<ExcelWorkbook xmlns='urn:schemas-microsoft-com:office:excel'>
                    <WindowHeight>    6030  </WindowHeight>
                    <WindowWidth>     10020 </WindowWidth>
                    <WindowTopX>      -45   </WindowTopX>
                    <WindowTopY>      -45   </WindowTopY>
                    <ActiveSheet>     2     </ActiveSheet>
                    <ProtectStructure>False </ProtectStructure>
                    <ProtectWindows>  False </ProtectWindows>
                  </ExcelWorkbook>
<Styles>
                      <Style ss:ID="Default" ss:Name="Normal">
                          <Alignment ss:Vertical="Bottom"/>
                          <Borders/>
                          <Font/>
                          <Interior/>
                          <NumberFormat/>
                          <Protection/>
                      </Style>

                      <Style ss:ID="s6">
                            <Alignment ss:Horizontal="Center" ss:Vertical="Bottom" ss:WrapText="1"/>
                            <Borders>
                             <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                            <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                            <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                            <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                            </Borders>
                              <Font x:Family="Swiss" ss:Size="12" ss:Color="#000000" ss:FontName="Calibri"/>
                            <Interior ss:Color="#E8E8E8" ss:Pattern="Solid"/>
                            <Protection x:HideFormula="1"/>
                      </Style>

                      <Style ss:ID="s15">
                            <Alignment ss:Horizontal="Right" ss:Vertical="Bottom" ss:WrapText="1"/>
                            <Borders>
                             <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                            <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                            <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                            <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                            </Borders>
                              <Font x:Family="Swiss" ss:Size="11" ss:FontName="Calibri"/>
                            <NumberFormat ss:Format="_(* #,##0.00_);_(* \(#,##0.00\);_(* &quot;0.00&quot;??_);_(@_)"/>
                            <Protection ss:Protected="0"/>
                      </Style>

                      <Style ss:ID="s19">
                            <Alignment ss:Horizontal="Left" ss:Vertical="Bottom" ss:WrapText="1"/>
                            <Borders>
                             <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                            <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                            <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                            <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                            </Borders>
                              <Font x:Family="Swiss" ss:Size="11" ss:FontName="Calibri"/>
                            <Protection ss:Protected="0"/>
                        </Style>

                      <Style ss:ID="s22">
                            <Alignment ss:Horizontal="Center" ss:Vertical="Bottom" />
                            <Font x:Family="Swiss" ss:Size="14" ss:Color="#000000" ss:FontName="Calibri" />
                            <Protection x:HideFormula="1"/>
                      </Style>
                   </Styles><Worksheet ss:Name='product'>
<Table>
<Column ss:AutoFitWidth='1' ss:Width= '170' c:Caption='Testing' />
  <Column ss:AutoFitWidth='1' ss:Width= '170' c:Caption='Testing' />
    <Column ss:AutoFitWidth='1' ss:Width= '140' c:Caption='Testing' />


      <Row ss:AutoFitHeight='1' ss:Height='20'>
                      <Cell ss:StyleID='s22' ss:MergeAcross='6'><Data ss:Type='String'>Product Details Report</Data></Cell>
                  </Row>
<Row ss:AutoFitHeight='1' ss:Height='20'>
<Cell ss:StyleID='s6'><Data ss:Type='String'>Name</Data></Cell>
<Cell ss:StyleID='s6'><Data ss:Type='String'>Description</Data></Cell>
<Cell ss:StyleID='s6'><Data ss:Type='String'>Price</Data></Cell>
</Row>
<Row ss:AutoFitHeight='1' ss:Height='20'>
<Cell ss:StyleID='s15'><Data ss:Type='String'>book</Data></Cell>
<Cell ss:StyleID='s15'><Data ss:Type='String'>sds</Data></Cell>
<Cell ss:StyleID='s15'><Data ss:Type='String'>200</Data></Cell>
</Row>
<Row ss:AutoFitHeight='1' ss:Height='20'>
<Cell ss:StyleID='s15'><Data ss:Type='String'>tt</Data></Cell>
<Cell ss:StyleID='s15'><Data ss:Type='String'>asds</Data></Cell>
<Cell ss:StyleID='s15'><Data ss:Type='String'>5000</Data></Cell>
</Row>
<Row ss:AutoFitHeight='1' ss:Height='20'>
<Cell ss:StyleID='s15'><Data ss:Type='String'>table</Data></Cell>
<Cell ss:StyleID='s15'><Data ss:Type='String'>sdsf</Data></Cell>
<Cell ss:StyleID='s15'><Data ss:Type='String'>500</Data></Cell>
</Row>
<Row ss:AutoFitHeight='1' ss:Height='20'>
<Cell ss:StyleID='s15'><Data ss:Type='String'>monotor</Data></Cell>
<Cell ss:StyleID='s15'><Data ss:Type='String'>wefsfsdf</Data></Cell>
<Cell ss:StyleID='s15'><Data ss:Type='String'>60</Data></Cell>
</Row>
</Table>
<WorksheetOptions xmlns='urn:schemas-microsoft-com:office:excel'>
                      <PageSetup>
                        <Layout x:CenterHorizontal='1'/>
                        <PageMargins x:Left='0.63' x:Right='0.58'/>
                      </PageSetup>
                      <DisplayPageBreak/>
                      <Print>
                        <ValidPrinterInfo/>
                        <HorizontalResolution>600</HorizontalResolution>
                        <VerticalResolution>  600</VerticalResolution>
                      </Print>
                      <DoNotDisplayGridlines/>
                      <TopRowVisible>3</TopRowVisible>
                      <Panes>
                        <Pane>
                          <Number>   3</Number>
                          <ActiveRow>15</ActiveRow>
                          <ActiveCol>6</ActiveCol>
                        </Pane>
                      </Panes>
                      <ProtectObjects>  False</ProtectObjects>
                      <ProtectScenarios>False</ProtectScenarios>
                    </WorksheetOptions></Worksheet>
</Workbook>
